## Observable Trends
1. The gender demographics are largely skewed with 84.03% of the total number of players being male. Interesting enough, despite being the gender that contributed the most to revenue, males paid on average less for a book than their female counterparts and other undisclosed.

2. The age demographics paint a similar picture in which a large minority of the players (almost half, 44.79%) fall in between the ages of 20 and 24. More than three quarters (76.74%) of our players fall within the ages of 15 and 29 indicating the primary target age range for our audience.

3. Upon comparison of the most popular items and most profitable items, it seems that both Final Critic and Oathbreaker, Last Hope of the Breaking Storm hold the top spots, respectively, in both tables. Considering that most popular items were sorted by Purchase Count and most profitable items were sorted by Total Purchase Value, it is safe to assume that our most popular items generally tend to be our most profitable items. This is an important trend to keep in mind when evaluating which products to keep in stock.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [167]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [168]:
total_players = len(purchase_data.SN.value_counts())
total_player_count = pd.DataFrame({"Total Players": total_players}, index=[0])
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [169]:
#Run basic calculations
unique_items = len(purchase_data['Item Name'].value_counts())
average_price = purchase_data.Price.mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data.Price.sum()

#Create DataFrame
purchasing_analysis_total = pd.DataFrame({
    'Number of Unique Items': unique_items,
    'Average Price': average_price,
    'Number of Purchases': number_purchases,
    'Total Revenue': total_revenue
}, index=[0])


#Format DataFrame
purchasing_analysis_total = purchasing_analysis_total.style.format({
    'Average Price': "${:.2f}",
    'Total Revenue': "${:,.2f}",
})

purchasing_analysis_total

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [170]:
#Group data by gender
gender_grouped = purchase_data.groupby('Gender')

#Count the gender using SN as unique identifier
gender_count = gender_grouped.SN.nunique()

#Percentage of gender by total
percent_players = gender_count / total_players

#Create the dataframe
gender_demographics = pd.DataFrame({
    'Total Count': gender_count,
    'Percentage of Players': percent_players
})

#Format and remove index name
gender_demographics = gender_demographics.sort_values(['Total Count'], ascending=False).style.format({'Percentage of Players': '{:.2%}'})

gender_demographics.index.name = None

gender_demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [171]:
#Basic calculations
purchase_count = gender_grouped['Purchase ID'].count()
avg_purchase_price = gender_grouped.Price.mean()
total_purchase_value = gender_grouped.Price.sum()
avg_total_purchase_per_person = total_purchase_value / gender_count

#Create the df, format, and remove index
purchasing_analysis_gender = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': avg_total_purchase_per_person 
})

purchasing_analysis_gender = purchasing_analysis_gender.style.format({
    'Average Purchase Price': '${:.2f}',
    'Total Purchase Value': '${:,.2f}',
    'Avg Total Purchase per Person': '${:.2f}'
})

purchasing_analysis_gender.index.name = None

purchasing_analysis_gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [172]:
#Set bins and labels
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

#pd.cut the data
purchase_data['Age Group'] = pd.cut(purchase_data.Age, bins, labels=labels)

#group the data by age group
age_grouped = purchase_data.groupby('Age Group')

#count players in each age group off SN
total_count = age_grouped.SN.nunique()

#percentage of players in each age group
percent_players = total_count / total_players

#Create, format, and deindex the df
age_demographics = pd.DataFrame({
    'Total Count': total_count,
    'Percentage of Players': percent_players
})

age_demographics = age_demographics.style.format({'Percentage of Players': '{:.2%}'})

age_demographics.index.name = 'Age Ranges'

age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [173]:
#Basic calculations
purchase_count = age_grouped['Purchase ID'].count()
avg_purchase_price = age_grouped.Price.mean()
total_purchase_value = age_grouped.Price.sum()
avg_total_purchase_per_person = total_purchase_value / total_count

#Create the df, format, and remove index
purchasing_analysis_age = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': avg_total_purchase_per_person 
})

purchasing_analysis_age = purchasing_analysis_age.style.format({
    'Average Purchase Price': '${:.2f}',
    'Total Purchase Value': '${:,.2f}',
    'Avg Total Purchase per Person': '${:.2f}'
})

purchasing_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [174]:
#Group by SN
spender_grouped = purchase_data.groupby('SN')

#Basic calculations
purchase_count = spender_grouped['Purchase ID'].count()
avg_purchase_price = spender_grouped.Price.mean()
total_purchase_value = spender_grouped.Price.sum()

#Create the df, format, and sort
top_spenders = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value, 
})

top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending=False).head().style.format({
    'Average Purchase Price': '${:.2f}',
    'Total Purchase Value': '${:,.2f}',
})

top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [175]:
#Group by Item ID and Item Name
item_grouped = purchase_data.groupby(['Item ID','Item Name'])

#Perform calculations
purchase_count = item_grouped['Purchase ID'].count()
total_purchase_value = item_grouped.Price.sum()
item_price = total_purchase_value / purchase_count

#Create the df, format, and sort
popular_items = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_value, 
})

popular_items_formatted = popular_items.sort_values(['Purchase Count'], ascending=False).head().style.format({
    'Item Price': '${:.2f}',
    'Total Purchase Value': '${:,.2f}',
})

popular_items_formatted

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [176]:
profitable_items_formatted = popular_items.sort_values(['Total Purchase Value'], ascending=False).head().style.format({
    'Item Price': '${:.2f}',
    'Total Purchase Value': '${:,.2f}',
})

profitable_items_formatted